---
import '@/styles/globals.css';
---

<header
  class='relative mx-6 my-4 flex items-center justify-between after:absolute after:-bottom-4 after:-left-6 after:h-[0.0625rem] after:w-[23.4375rem] after:bg-white/20 md:mb-[1.69rem] md:ml-[3.19rem] md:mr-[3.31rem] md:mt-8 md:flex-col md:items-center md:justify-center md:gap-[2.44rem] md:after:-left-[3.19rem] md:after:w-[48rem] lg:mx-8 lg:mt-[1.38rem] lg:flex-row lg:items-start lg:justify-between lg:after:-left-8 lg:after:w-[90rem]'
>
  <div class='flex items-center justify-between gap-[12.12rem]'>
    <a
      href='/'
      class='font-Antonio text-[1.75rem] font-normal uppercase leading-normal tracking-[-0.06563rem] text-white'
    >
      The Planets
    </a>
    <button type='button' class='cursor-pointer md:hidden' id='openMenu'
      ><img src='/images/icon-hamburger.svg' alt='menu btn' /></button
    >
  </div>
  <!-- Mobile Navigation -->
  <nav
    class='absolute -left-6 right-0 top-[4.31rem] hidden h-[37.375rem] w-[23.4375rem] bg-[#070724] pb-[4.19rem] pl-6 pr-8 pt-[2.75rem]'
    id='mobileMenu'
  >
    <ul class='flex flex-col items-start gap-[2.56rem]'>
      <!-- Mercury -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#DEF4FC'></circle>
          </svg>
          <a
            href='/'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Mercury
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Mercury page' />
      </li>
      <!-- Venus -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#F7CC7F'></circle>
          </svg>
          <a
            href='/venus'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Venus
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Venus page' />
      </li>
      <!-- Earth -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#545BFE'></circle>
          </svg>
          <a
            href='/earth'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Earth
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Earth page' />
      </li>
      <!-- Mars -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#FF6A45'></circle>
          </svg>
          <a
            href='/mars'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Mars
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Mars page' />
      </li>
      <!-- Jupiter -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#ECAD7A'></circle>
          </svg>
          <a
            href='/jupiter'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Jupiter
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Jupiter page' />
      </li>
      <!-- Saturn -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#FCCB6B'></circle>
          </svg>
          <a
            href='/saturn'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Saturn
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Saturn page' />
      </li>
      <!-- Uranus -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#65F0D5'></circle>
          </svg>
          <a
            href='/uranus'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Uranus
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to Uranus page' />
      </li>
      <!-- Neptune -->
      <li
        class='relative flex w-[100%] items-center justify-between after:absolute after:-bottom-5 after:left-0 after:h-[0.0625rem] after:w-[100%] after:bg-white/10'
      >
        <div class='flex items-center gap-[1.5rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
            fill='none'
          >
            <circle cx='10' cy='10' r='10' fill='#497EFA'></circle>
          </svg>
          <a
            href='/neptune'
            class='font-Spartan text-[0.9375rem] font-bold uppercase leading-[1.5625rem] tracking-[0.08525rem] text-white'
            >Neptune
          </a>
        </div>
        <img src='/images/icon-chevron.svg' alt='arrow to neptune page' />
      </li>
    </ul>
  </nav>
  <!-- Tablet and Desktop Navigation -->
  <nav class='hidden items-center justify-between md:flex md:gap-[2.06rem]'>
    <ul class='flex items-center justify-between gap-[2.06rem]'>
      <li class=''>
        <a
          href='/'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Mercury</a
        >
      </li>
      <li class='/venus'>
        <a
          href=''
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Venus</a
        >
      </li>
      <li class=''>
        <a
          href='/earth'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Earth</a
        >
      </li>
      <li class=''>
        <a
          href='/mars'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Mars</a
        >
      </li>
      <li class=''>
        <a
          href='/jupiter'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Jupiter</a
        >
      </li>
      <li class=''>
        <a
          href='/saturn'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Saturn</a
        >
      </li>
      <li class=''>
        <a
          href='/uranus'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Uranus</a
        >
      </li>
      <li class=''>
        <a
          href='/neptune'
          class='borbg relative cursor-pointer font-Spartan text-[0.6875rem] font-bold uppercase leading-[1.5625rem] tracking-[0.0625rem] text-white lg:focus:before:absolute lg:focus:before:left-0 lg:focus:before:top-[-1.81rem] lg:focus:before:h-[0.25rem] lg:focus:before:w-[100%] lg:focus:before:bg-[#419ebb]'
          >Neptune</a
        >
      </li>
    </ul>
  </nav>
</header>

<script is:inline>
  const openMenu = document.getElementById('openMenu');
  const mobileMenu = document.getElementById('mobileMenu');
  openMenu.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
